<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swip2Clean</title>
    <link rel="icon" type="image/x-icon" href="images/logo.jpg">
    <link rel="stylesheet" href="/css/sanitization.css">
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="logo">
                    <img src="/images/logo.jpg" alt="" />
                    <h2>Swipe2Clean</h2>
                </div>
                <div class="link">
                    <a href="/YourPost">Home</a>
                    <a href="#resources">Resources & Education</a>
                    <a href="https://www.linkedin.com/in/vansh-sharma-2954a2246/" target="_blank">Contact</a>
                </div>
                <div class="sign">
                </div>
            </div>
        </nav>
    </header>


    <section id="home">
        <h1 class=" ">Welcome to Swipe2Clean</h1>
        <div class="recycling-for-kids">
            <h1>Recycling For Kids!</h1>
            <img src="/images/recycling-arrows-earth-5.jpg" alt="">
            <p>Get your kids involved in reducing food waste through composting. Kids can learn through these free
                downloadable activity packets filled with coloring pages, sorting games, word searches, and more!
            </p>
            <div class="buttons">
                <div class="button-container">
                    <h3>Ages 3-5</h3>
                    <p>Download activity packet for ages 3-5</p>
                    <button class="button"><a href="https://online.flippingbook.com/view/623765628/" class="fbo-embed"
                            data-fbo-id="ae55673a88" data-fbo-ratio="3:2" data-fbo-lightbox="yes" data-fbo-width="100%"
                            data-fbo-height="auto" data-fbo-version="1" style="max-width: 100%">Composting Activity
                            Packet
                            3-5</a>
                        <script async defer
                            src="https://online.flippingbook.com/EmbedScriptUrl.aspx?m=redir&hid=623765628"></script>
                        Read
                    </button>
                </div>

                <div class="button-container">
                    <h3>Ages 6-8</h3>
                    <p>Download activity packet for ages 6-8</p>
                    <button class="button"><a href="https://online.flippingbook.com/view/622930764/" class="fbo-embed"
                            data-fbo-id="1c710e8d23" data-fbo-ratio="3:2" data-fbo-lightbox="yes" data-fbo-width="100%"
                            data-fbo-height="auto" data-fbo-version="1" style="max-width: 100%">Composting Activity
                            Packet
                            6-8</a>
                        <script async defer
                            src="https://online.flippingbook.com/EmbedScriptUrl.aspx?m=redir&hid=622930764"></script>
                        Read
                    </button>
                </div>

                <div class="button-container">
                    <h3>Ages 9-12</h3>
                    <p>Download activity packet for ages 9-12</p>
                    <button class="button"><a href="https://online.flippingbook.com/view/622897964/" class="fbo-embed"
                            data-fbo-id="2ce332c1ac" data-fbo-ratio="3:2" data-fbo-lightbox="yes" data-fbo-width="100%"
                            data-fbo-height="auto" data-fbo-version="1" style="max-width: 100%">Composting Activity
                            Packet
                            9-12</a>
                        <script async defer
                            src="https://online.flippingbook.com/EmbedScriptUrl.aspx?m=redir&hid=622897964"></script>
                        Read
                    </button>
                </div>
            </div>
        </div>

        <section>
            <div class="boot-div">
                <div class="boot" id="rcroot" data-plugin="T1RrMw=="></div>
                <script src="https://webapp.recyclecoach.com/js/loader.min.js"></script>
                <script
                    src="https://cdn.recyclecoach.com/webapp-resources/js/release/iframeResizer.contentWindow.min.js"></script>
            </div>
        </section>

        <div class="intro-services">
            <h2>What We Offer</h2>
            <p>At Swip2Clean , we are dedicated to providing comprehensive learning and study materials on
                sanitation for different age groups and interests. Our resources include in-depth articles, engaging
                videos, and interactive content designed to educate and raise awareness about the importance of
                sanitation. Whether you're a student, teacher, or simply someone eager to learn, our materials are
                tailored to help you understand the critical aspects of sanitation and how it impacts public health.
                Explore our diverse library to empower yourself with the knowledge needed to make a difference in
                your community.</p>
            <img src="/images/what-we-offer.jpg" alt="what-we-offer">
        </div>


        <section id="sanitation-tips" class="sanitation-tips">
            <h2>Sanitation Tips</h2>
            <div class="tip-container">
                <p id="tip-text">Loading tips...</p>
            </div>
            <img src="/images/tips-img.jpg" alt="image">
        </section>
    </section>

    <section id="resources">
        <h1> RESOURCES & EDUCATION </h1>

        <div class="waste-separation">
            <img src="/images/waste-separation.png" alt="">
            <h2>Waste Separation Guide</h2>
            <p>In this guide, you will find information on what goes in each bag as well as information about
                all the waste disposal services, we offer to the public.</p>
            <button><a href="https://online.flippingbook.com/view/623720520/" class="fbo-embed" data-fbo-id="45c7546f11"
                    data-fbo-ratio="3:2" data-fbo-lightbox="yes" data-fbo-width="100%" data-fbo-height="auto"
                    data-fbo-version="1" style="max-width: 100%"></a>
                <script async defer
                    src="https://online.flippingbook.com/EmbedScriptUrl.aspx?m=redir&hid=623720520"></script>Guide
                Book print
            </button>
        </div>
    </section>

    <div class="importance-sanitation">
        <h2>Why Sanitation Matters</h2>
        <p>Sanitation is vital for public health, preventing the spread of diseases and ensuring a safe environment.
            Proper sanitation practices reduce the risk of infections like cholera and diarrhea, particularly in
            vulnerable populations. It also supports economic growth by lowering healthcare costs and improving
            productivity, while protecting natural resources and promoting environmental sustainability for future
            generations.</p>
        <img src="/images/sanitation-matter.png" alt="">
    </div>


    <footer id='contact'>
        <div class="footer-content">
            <div class="footer-section about">
                <h2>Swip2Clean</h2>
                <p>
                    Samtation is dedicated to promoting clean water and sanitation practices worldwide.
                    Our mission is to educate communities on the importance of sanitation and hygiene
                    for a healthier, safer environment.
                </p>
            </div>
            <div class="footer-section links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#resources">Resources & Education</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="footer-section social">
                <h2>Follow Us</h2>
                <div class="social-links">
                    <a href="#"><img src="/images/5296499_fb_facebook_facebook logo_icon.png" alt="Facebook"></a>
                    <br>
                    <a href="#"><img src="/images/11053970_x_logo_twitter_new_brand_icon.png" alt="Twitter"></a>
                    <br>
                    <a href="#"><img src="/images/5296765_camera_instagram_instagram logo_icon.png"
                            alt="Instagram"></a>
                    <br>
                    <a href="#"><img src="/images/5296501_linkedin_network_linkedin logo_icon.png" alt="LinkedIn"></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2024 Swip2Clean. All Rights Reserved.
        </div>
    </footer>
    <script src="js/sanitization.js"></script>
</body>

</html>