<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Swipe2Clean</title>
  <link rel="stylesheet" href="/css/Certificate.css" />
  <link rel="icon" type="image/x-icon" href="images/logo.jpg" />
</head>
<body>
  <header>
    <img src="images/logo.jpg" alt="Padhega India Logo" />
    <h4>Get your certificate of Participation to</h4>
    <h1>
      <a href="/YourPost" target="_blank" rel="noopener noreferrer">#SwachtaSarvopari</a>
    </h1>
  </header>

  <main id="certificate">
    <button id="submitBtn">Get Certificate</button>
  </main>

  <script>
    document.getElementById("submitBtn").addEventListener("click", () => {
      const link = document.createElement("a");
      link.href = "images/Certificate.png";
      link.download = "Certificate.png"; 
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);

      setTimeout(() => {
      window.location.href = "/YourPost";
    }, 500); 
    });
  </script>
</body>
</html>